h3{
    padding: 0px;
    margin: 0px;
}
p{
    padding: 0px;
    margin: 5px 0px;
}
ion-toolbar{
    --background: #F3F3F3;
    --border-width: 0px !important;
}
.mi-ubicacion{
    font-weight: 500;
    padding: 15px 10px;
    display: block;
    font-size: 18px;
}
.mi-ubicacion img{
    height: 14px;
}
ion-row{
    padding: 10px 0px;
}
.icono_back_page{
    position: absolute;
    padding: 10px;
    color: white;
    font-size: 25px;
}
h3{

}
p{
    font-size: 16px;
}
ion-item{
    --background: #FAFAFA;
    //--box-shadow: 3px 2px 5px 1px rgb(195 195 195 / 58%);
    box-shadow: 3px 2px 5px 1px rgba(163,163,163,58);
    --border-style: none;
    border-radius: 10px;
}
.box_go_to_store{
    width: 46px;
    outline: none;
}
.go_to_store{
    width: 13px;
    height: 13px;
    margin: 0px auto;
    display: block;
}
.go_to_store_text{
    font-size: 8px;
    text-align: center;
    margin: 3px 0px 0px;
}
.box-share{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}


.tienda{
    display: flex;
    margin: 20px 30px;
    background: #FAFAFA;
    box-shadow: 3px 2px 5px 1px #a3a3a3;
    border-radius: 10px;
    padding: 10px;
}
.col_1{
    width: 21.33333333333333%;
}
.col_2{
    width: 64%;
    padding-left: 10px;
}
.col_3{
    width: 14.66666666666667%;
}
.no_disponible{
    text-align: center;
}