<ion-content>
  <a routerLink="/tabs/tab1">
    <img src="./assets/img/backpage.png" class="btn-backpage" alt="">
  </a>
  <h1>Mi perfil</h1>
  <ion-card>
  
    <ion-card-content>
      <h3>Nombres</h3>
      <p>{{ nombres }}</p>
      <h3>Apellidos</h3>
      <p>{{ apellidos }}</p>
      <h3>Número de identidad</h3>
      <p>-</p>
      <h3>Email</h3>
      <p>{{ email }}</p>
      <h3>Celular</h3>
      <p>{{ telefono }}</p>
      <h3>Dirección</h3>
      <p>{{ direccion }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
