ion-content{
    --background: #F9F9F9;
}
h1{
    padding: 0px 20px 0px;
    font-size: 40px;
}
h3{
    font-size: 21px;
    font-weight: 600;
    font-family: 'antoniobold';
}
p{
    font-size: 19px;
    margin-bottom: 20px;
    font-family: 'Cartica';
}
.btn-backpage{
    padding: 20px;
    height: 60px;
}