<ion-content>
  <a routerLink="/tabs/tab1">
    <img src="./assets/img/backpage.png" class="btn-backpage" alt="">
  </a>
  <h1>Mi perfil</h1>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombres:</ion-label>
        <ion-input value="{{ nombres }}" [(ngModel)]="nombres"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellidos:</ion-label>
        <ion-input value="{{ apellidos }}" [(ngModel)]="apellidos"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input value="{{ email }}" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Celular:</ion-label>
        <ion-input value="{{ telefono }}" [(ngModel)]="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-input value="{{ direccion }}" [(ngModel)]="direccion" ></ion-input>
      </ion-item>
      <ion-button style="margin-top: 30px;" (click)="saveProfile()" shape="round" expand="full">Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
