<!-- <ion-header>
  <ion-toolbar>
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background-register">
  
  <img src="./assets/img/pass-recovery.png" class="tregister">
  <div class="bar-degrad"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a routerLink="/tabs/tab1">
          <img src="./assets/img/recovery_password.png" class="btn-crear">
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
