.tregister{
    width: 80%;
    margin-top: 50px;
    margin-left: -3px;
    margin-bottom: 50px;
}
.btn-registar{
    margin: 0px auto;
    display: block;
    padding: 0px 70px;
    margin-top: 50px;
}
ion-content{
    background-color: black;
}
.text-register{
    color: #00BD26;
    font-size: 14px;
    text-align: center;
    padding: 20px 0px 0px;
    margin-bottom: 0px;
}
ion-grid{
    padding: 0px 20px;
}
.btn-crear{
    width: 80%;
    margin: 0px auto;
    display: block;
    margin-top: 30px;
}
.rclave{
    text-align: center;
    display: block;
    text-decoration: none;
    color: #2f9f5f;
    margin-top: 50px;
}