<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <span class="mi-ubicacion">
      <img src="./assets/img/market.png" style="margin-right: 20px;"> {{ myUbicacion }}
    </span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid style="border-bottom: solid 9px #ededed;">
    <ion-row>
      <ion-col size="2">
        <a (click)="profile()">
          <img src="./assets/img/perfil.jpg" class="icono-perfil" alt="">
        </a>
      </ion-col>
      <ion-col size="10">
        <ion-searchbar 
        placeholder="¿Qué estás buscando?"
        [(ngModel)]="searchData"
        (search)="search()"
        (inputmode)="search"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h3 class="tth3">Centros Comerciales</h3>
  <ion-slides pager="false" [options]="slideOptsCC">
    <ion-slide *ngFor="let mall of malls">
      <a routerLink="/tabs/store/{{ mall.id }}">
        <img src="{{ media+mall.logo }}">
        <p class="text-category">{{ mall.nombre }}</p>
      </a>
    </ion-slide>
  </ion-slides>
  <ion-slides pager="false" [options]="slideOptsBanner">
    <ion-slide style="padding: 0px;"  *ngFor="let banners of Banner">
        <img src="{{ media+banners.imagen }}" *ngIf="banners.apuntar =='producto'"  routerLink="/{{ banners.apuntar }}/{{ banners.url }}" style="width: 100%; padding-right: 15px;">
        <img src="{{ media+banners.imagen }}" *ngIf="banners.apuntar =='tienda'" routerLink="/tabs/store/products/{{ banners.url }}" style="width: 100%; padding-right: 15px;">
    </ion-slide>
  </ion-slides>
  
  
  <ion-grid>
    <ion-row>
      <ion-col><h3 class="tth3" style="margin: 0px; padding: 0px;">Categoría</h3></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides [options]="slideOptscat">
          <ion-slide *ngFor="let cat of categoria">
            <a routerLink="/tabs/category/store/{{ cat.id }}">
              <img src="{{ media+cat.imagen }}" class="redondo">
              <p class="text-category">{{ cat.nombre }}</p>
            </a>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides [options]="slideOptsOne">
          <ion-slide *ngFor="let neg of business">
            <a routerLink="/productos/{{ neg.id }}">
              <img src="{{ neg.logo }}">
            </a>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col><h3 class="title_puntos">Tiendas Cercanas</h3></ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 30px;">
      <ion-col>
        <ion-slides [options]="slideOptsStoreDistance" >
          
          <ion-slide  *ngFor="let item of nearbyShops">
            <ion-card>
              <ion-card-content style="display: flex; padding: 10px;">
                <div class="col_box_1">
                  <img  src="{{ media+item.logo }}"  routerLink="/tabs/store/products/{{ item.id }}">
                </div>
                <div class="col_box_2" style="width: 45%;">
                  <div style="text-transform: capitalize;"><b>{{ item.nombre }}</b></div>
                  <div style="font-size: 10px; text-transform: capitalize;">{{ item.direccion }}</div>
                  <div></div>
                </div>
                <div style="display: flex; width: 25%;" class="shared">
                    <div>
                      <a href="https://www.google.com/maps/search/?api=1&query={{ item.lat }}%2C{{ item.long }}" style="text-decoration: none;">
                        <img src="/assets/img/go_to_store.png" style="width: 15px;" sy alt="" srcset="">
                        <p style="font-size: 9px;">Ir a tienda</p>
                      </a>
                    </div>
                    <div (click)="compartir(media+item.logo, item.id)">
                      <img src="/assets/img/to_share.png" style="width: 15px;" alt="" srcset="">
                      <p style="font-size: 9px;">Compartir</p>
                    </div>
                </div>
              </ion-card-content>
            </ion-card>
            
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
