@font-face {
    font-family: 'Cartica';
    src: url('Cartica.woff2') format('woff2'),
        url('Cartica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

