<div>
  <ion-menu side="end" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <img src="/assets/img/icono.png" class="icono" alt="" srcset="">
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="full" routerLink="/tabs/tab1" (click)="openEnd()"><ion-icon name="home-outline" style="margin-right: 10px;"></ion-icon> Inicio</ion-item>
        <ion-item lines="full" routerLink="/tabs/profile" (click)="openEnd()"><ion-icon name="person-circle-outline" style="margin-right: 10px;"></ion-icon> Perfil</ion-item>
        <ion-item lines="full" routerLink="/tabs/ayuda" (click)="openEnd()"><ion-icon name="help-circle-outline" style="margin-right: 10px;"></ion-icon> Ayuda</ion-item>
        <ion-item lines="full" (click)="compartir()"><ion-icon name="share-social-outline" style="margin-right: 10px;"></ion-icon> Compartir</ion-item>
        <ion-item lines="full" (click)="salir()"><ion-icon name="power-outline" style="margin-right: 10px;"></ion-icon> Salir</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</div>
