<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" style="margin-top: 10px;">
      <ion-back-button defaultHref="/tabs/tab1" text="" ></ion-back-button>
    </ion-buttons>
    <ion-searchbar 
          placeholder="¿Qué estás buscando?"
          [(ngModel)]="searchData"
          (search)="search()"
          (inputmode)="search" style="margin-top: 10px;"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <p *ngIf="!productos.length" >No hay productos </p>
        <ion-card *ngFor="let producto of productos">        
          <ion-card-content>
            <div style="display: flex;">
              <div>
                <img src="{{ media+producto.imagen }}" style="width: 150px; padding-right: 10px;">
              </div>
              <div style="width: 137px;">
                <h3 routerLink="/producto/{{producto.id}}" style="margin-top: 0px;">{{ producto.titulo }}</h3>
                <p style="margin-top: 0px; margin-bottom: 0px;">{{ producto.descripcion }}</p> 
                
              </div>
              <div class="btn-grupo">
                <h3 class="precio">S/{{ producto.precio }}</h3>
                <ion-button size="small" color="light" routerLink="/producto/{{producto.id}}">Agregar</ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
